<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Sipes </title>

    <object th:include="fragments/fragment :: bootstrap" th:remove="tag"></object>
</head>

<body>
    <object th:include="fragments/fragment :: navbar"></object>
    <div class="card m-5 p-3 bg-light text-dark">
        <br>
        <h2 class="text-center">Bonus Page</h2>
        <br>
        <div class="card-block text-center mb-5">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>No Seri</th>
                        <th>Jenis Pesawat</th>
                        <th>Maskapai</th>
                        <th>Jumlah Teknisi</th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr th:each="pesawat, iterationStatus: ${listPesawat}">
                        <td th:text="${iterationStatus.count}"></td>
                        <!-- <td th:text="${pesawat.id}"></td> -->
                        <td th:text="${pesawat.nomor_seri}"></td>
                        <td th:text="${pesawat.jenis_pesawat}"></td>
                        <td th:text="${pesawat.maskapai}"></td>
                        <td th:text="*{listSumTeknisi[__${iterationStatus.index}__]}"></td>
                        
                        <!-- <td th:text="${pesawat.tanggal_dibuat}"></td>
                        <td th:text="${pesawat.tempat_dibuat}"></td>
                        <td th:text="${pesawat.id_tipe}"></td> -->
                
                        <!-- <td><a class="btn btn-primary" >Lihat</a></td>
                        <td><a class="btn btn-primary" >Ubah</a></td>
                        <td><a class="btn btn-primary" >Hapus</a></td> -->
        
                    </tr>
        
                </tbody>
        
            </table>
            
        </div>

    </div>

 
</body>
</html>