<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Sipes </title>

    <object th:include="fragments/fragment :: bootstrap" th:remove="tag"></object>
</head>

<body>
    <object th:include="fragments/fragment :: navbar"></object>
    <div class="card m-5 p-3 bg-light text-dark">
        <br>
        <div class="card-block text-center mb-5">
            
            <h2>Daftar Pesawat</h2>
            <br>
            <a class="btn btn-primary" th:href="@{/pesawat/tambah}">Add Pesawat</a>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>No Seri</th>
                        <th>Tipe Pesawat</th>
                        <th>Maskapai</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr th:each="pesawat, iterationStatus: ${listPesawat}">
                        <td th:text="${iterationStatus.count}"></td>
                        <!-- <td th:text="${pesawat.id}"></td> -->
                        <td th:text="${pesawat.nomor_seri}"></td>
                        <td th:text="${pesawat.tipe.nama}"></td>
                        <td th:text="${pesawat.maskapai}"></td>
                        
                        <!-- <td th:text="${pesawat.tanggal_dibuat}"></td>
                        <td th:text="${pesawat.tempat_dibuat}"></td>
                        <td th:text="${pesawat.id_tipe}"></td> -->
                
                        <td><a class="btn btn-primary" th:href="@{/pesawat/} + ${pesawat.id}" >Lihat</a></td>
                        <td><a class="btn btn-primary" th:href="@{/pesawat/ubah/} + ${pesawat.id}" >Ubah</a></td>
                        <td><a class="btn btn-danger" th:href="@{/pesawat/hapus/} + ${pesawat.id}">Hapus</a></td>
        
                    </tr>
        
                </tbody>
        
            </table>



        </div>

    </div>


    
</body>
</html>