<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Sipes </title>

    <object th:include="fragments/fragment :: bootstrap" th:remove="tag"></object>
</head>

<body>
    <object th:include="fragments/fragment :: navbar"></object>


    <div class="card m-5 p-3 bg-light text-dark">
        <br>
        <div class="card-block text-center mb-5">
            <h2 th:text="'Pesawat ' + ${pesawat.maskapai} + ' dengan nomor seri ' + ${pesawat.nomor_seri} + ' berhasil diubah'"></h2>
            <a class="bg.primary text-center" th:href="@{/pesawat}">Kembali</a>
        </div>
    </div>
   
</body>
</html>