<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Daftar Pesawat </title>

    <object th:include="fragments/fragment :: bootstrap" th:remove="tag"></object>
</head>

<body>
    <object th:include="fragments/fragment :: navbar"></object>
    <br>

    <div class="row justify-content-center " >

        <div class="card m-5 p-3 bg-light text-dark" style="width: 30rem;">
            <br>
            <h2 class="text-center">Detail Pesawat</h2>
            <br>

            <table class="table">
                <tr>
                  <th>No Seri</th>
                  <td th:text="${pesawat.nomor_seri}"></td>
                </tr>
                <tr>
                  <th>Jenis Pesawat</th>
                  <td th:text="${pesawat.jenis_pesawat}"></td>
                </tr>
                <tr>
                  <th>Nama Tipe</th>
                  <td th:text="${pesawat.tipe.nama}"></td>
                </tr>
                <tr>
                    <th>Maskapai</th>
                    <td th:text="${pesawat.maskapai}"></td>
                </tr>
                <tr>
                    <th>Tempat Dibuat</th>
                    <td th:text="${pesawat.tempat_dibuat}"></td>
                  </tr>
                  <tr>
                    <th>Tanggal Dibuat</th>
                    <td th:text="${pesawat.tanggal_dibuat}"></td>
                  </tr>
                
              </table>
            </div>

        </div>

        <div class="row justify-content-center " >
            <div class="card m-5 p-3 bg-light text-dark" style="width: 20rem;">
                <br>
                <h4 class="text-center">List Teknisi</h4>
                <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama</th>
                                <th>No Telp</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr th:each="teknisi, iterationStatus: ${listTeknisi}">
                                <td th:text="${teknisi.id}"></td>
                                <td th:text="${teknisi.nama}"></td>
                                <td th:text="${teknisi.nomor_telepon}"></td>
                            </tr>
                        </tbody>        
                </table>
        
            </div>
    

        </div>

        <div class="row justify-content-center " >
            <a class="btn btn-primary btn-lg" th:href="@{/pesawat/} + ${pesawat.id} + @{/tambah-penerbangan}">Assign Penerbangan</a>
        </div>
              </body>
              </html>
            
          
    







